<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">

    <!-- 定义所有的appender -->
    <appenders>
        <!-- 输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%F.%L] [%-4level] %msg%xEx%n"/>
        </Console>

        <!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="debug-out" fileName="log/debug.log"
                     filePattern="log/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <!-- 只输出日志级别为 debug 的日志 -->
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%F.%L] [%-4level] %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>

        <RollingFile name="info-out" fileName="log/info.log"
                     filePattern="log/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <!-- 只输出日志级别为 info 的日志 -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%F.%L] [%-4level] %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>

        <RollingFile name="warn-out" fileName="log/warn.log"
                     filePattern="log/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <!-- 只输出日志级别为 warn 的日志 -->
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%F.%L] [%-4level] %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>

        <RollingFile name="error-out" fileName="log/error.log"
                     filePattern="log/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <!-- 只输出日志级别为 error 的日志 -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%F.%L] [%-4level] %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>

    </appenders>

    <!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <!-- 建立一个默认的root的logger -->
        <root level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="debug-out"/>
            <appender-ref ref="info-out"/>
            <appender-ref ref="warn-out"/>
            <appender-ref ref="error-out"/>
        </root>
    </loggers>
</configuration>
